<div class="container-login">
    
    <div class="login">
        <h1>Login</h1>
        
        <p>Enter your credential to access your account.</p>
        
        <button class="btn-google">
            <img src="/assets/img/google-ic.png" alt="Login google"> 
            Login whith Google
        </button>

        <div class="or">
            <div class="line"></div>
            <p>Or</p>
            <div class="line"></div>
        </div>

        <form action="post">
            
            <h2>Email address</h2>
            <input type="email" placeholder="email@domain.com" required>
            
            <h2>Password</h2>
            <input type="password" placeholder="Password" required>

            <button class="btn-login">Login</button>

            <p>Don’t have an account? <span>Register here.</span></p>

        </form>
    </div>
    <div class="banner">
        <!-- <img src="./assets/img/banner.png" alt="Banner ciclista"> -->
    </div>
</div>